<div class="col-4">

    <div class="d-flex justify-content-between align-items-center p-2">
        <div class="d-flex justify-content-start align-items-center">

            <%= image_tag 'https://cdn4.iconfinder.com/data/icons/user-people-2/48/6-512.png',class: 'w-100 rounded-circle d-block p-0',style:'max-width:3rem; border-radius:50%'%>
            <div class="align-items-center">
                <p class="mx-2 my-0"><%= link_to  current_user.username, account_path(current_user), class: "text-body text-decoration-none" %></p>
                <p class="mx-2 my-0 fw-light"><%= current_user.fullname %></p>
            </div>

        </div>
        <%= button_to "Switch" , "#", class: "btn text-primary" %>
    </div><hr />

    <div class="d-flex align-items-center justify-content-between">
        <p class="my-0" >Suggestions For You</p>
        <%= link_to "See all" , suggestion_path, class: "btn" %>
    </div>

    <ul class="list-group list-group-flush">
        <% users.first(5).each do |user| %>
                <li class="list-group-item p-1"><%= render partial: "public/user", locals: {user: user} %></li>
        <% end %>
    </ul>

</div>