<div class="container-md row pt-3">

    <div class="col-8 ">
        <% @posts.each do |post| %>
            <div class="card mb-2 shadow mx-auto" style="width: 35rem;">
               
                <%= render partial: "postmore", locals: {post: post} %>

                <div class="img">
                    <a href="<%= post_path(post) %>" ><img src="https://cdn.britannica.com/67/19367-050-885866B4/Valley-Taurus-Mountains-Turkey.jpg" class="img-fluid" alt="Responsive image"></a>
                </div>


                <div class="card-body">
                    <%= render partial: "likes/form", locals: {post: post} %><br />
                    <h5 class="card-title"><%= post.title %></h5>
                    <p class="card-text"><%= link_to "#{post.likes.count} Likes", post_likes_path(post), class: "text-body text-decoration-none"  %>  ||  <%= post.comments.count || 0 %> Comments</p>
                    <% post.comments.first(4).each do |comment| %>
                        <%= render partial: "comments/comment", locals: {comment: comment, post: post} %>
                    <% end %>
                    <%= render partial: "comments/form", locals: {post: post} %>
                </div>

            </div>
        <%end %>
    </div>

    <%= render partial: "suggestion", locals: {users: @users} %>
    
</div>



