<div class="container-md py-3">

    <div class="row pb-5">
        <div class="col-6">
            <%= image_tag 'https://cdn4.iconfinder.com/data/icons/user-people-2/48/6-512.png',class: 'w-100 rounded-circle d-block p-0 shadow mx-auto',style:'max-width:8rem;'
            %>
        </div>
        <div class="col-6">
            <div class="row pb-3">
                <h3 class="fw-light col-4" ><%= @user.username %></h3>

                <% if @is_current_user %>
                    <%= link_to "Edit Profile", "#" , class: "btn btn-outline-dark col-3" %>
                <% elsif @user.following?(@user) %>
                    <%= button_to "Unfolow", unfollow_path(@user) , :method => :delete , class: "btn btn-outline-dark col-3"  %>
                <% else %>
                    <%= button_to "Follow", follow_path(@user) ,:method => :post , class: "btn btn-outline-dark col-3"  %>
                <% end %>

            </div>
            <div class="row pb-3">
                <p class="col-4" ><%= @user.posts.count %> Posts</p>
                <p class="col-4" ><%= link_to "#{@user.followers_count} Follower", friend_path, class: "text-body text-decoration-none" %> </p>
                <p class="col-4" ><%= link_to "#{@user.follow_count} Following", friend_path, class: "text-body text-decoration-none" %> </p>
            </div>
            <p><%= @user.bio %></p>
        </div>
    </div><hr  style="max-width: 700px;" class="mx-auto" />

    <div style="max-width: 700px;" class=" row mx-auto">

        <% @user.posts.each do |post| %>
            <div class="img col-4 pb-3">
                <a href="<%= post_path(post) %>" ><img src="https://cdn.britannica.com/67/19367-050-885866B4/Valley-Taurus-Mountains-Turkey.jpg" class="img-fluid" alt="Responsive image"></a>
            </div>
        <% end %>

    </div>

</div>